{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-scss",
    "stylelint-config-prettier",
    "stylelint-config-sass-guidelines",
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}
